<% if logged_in? %>
  <% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

  <div class="form-actions">
    <%= link_to(eval("#{model_name.pluralize}_path"), class: 'button radius') do %>
      <!-- <i class="fa fa-list"></i> -->
      &nbsp;Display All <%= model_name.pluralize.capitalize %>
    <% end %>
    &nbsp;&nbsp;
    
    <% if can? :update, object %>
      <%= link_to(eval("edit_#{model_name}_path(object)"), class: 'button radius') do %>
        <!-- <i class="fa fa-pencil"></i> -->
        &nbsp;<%= "Edit #{opt}" %>
      <% end %>
      &nbsp;&nbsp;
    <% end %>
    
    <% if current_user.role?(:admin) %>
      <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{opt}"}, class: 'button radius alert') do %>
        <!-- <i class="fa fa-trash-o"></i> -->
        &nbsp;<%= "Delete #{opt}" %>
      <% end %>
    <% end %>
  </div>
<% end %>
