<table class="table table-striped">
  <thead>
    <tr>
      <th width="100">Quantity</th>
      <th width="300">Item</th>
      <th width="100">Unit Price</th>
      <th width="100">Subtotal</th>
      <% if controller.controller_name == 'home' %>
        <th>&nbsp;</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |oi| %>
      <tr>
        <td align="center"><%= oi.quantity %></td>
        <td><%= link_to oi.item.name, item_path(oi.item) %></td>
        <td align="center"><%= number_to_currency oi.item.price_on_date(date) %></td>
        <td align="right"><%= number_to_currency oi.subtotal(date) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <% if controller.controller_name == 'home' %>
          <td>
            <% if oi.shipped_on.nil? %>
              <%= link_to(image_tag('check_black.gif'), mark_shipped_path(oi.id), method: 'patch') %>
            <% else %>
              <%= link_to(image_tag('check_green.gif'), mark_unshipped_path(oi.id), method: 'patch') %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>