<div class="row no-margin-bot">
  <div class="input-field col <%= is_admin? ? 's6':'s12' %>">
    <%= f.input_field :username%>
    <%= f.label :username, "Username"  %>
  </div>
  <% if is_admin? %>
    <div class="input-field col s6">
      <%= f.select :role, User::ROLES %>
      <%= f.label :role, "Role"  %>
    </div>
  <% end %>
</div>
<div class="row no-margin-bot">
  <div class="input-field col s12 m6">
    <%= f.input_field :password%>
    <%= f.label :password, "Password"  %>
  </div>
  <div class="input-field col s12 m6">
    <%= f.input_field :password_confirmation %>
    <%= f.label :password_confirmation, "Confirm Password"  %>
  </div>
</div>