<% if is_admin? %>
<div class="row no-margin-bot">
  <div class="input-field col s6">
    <%= f.input_field :username%>
    <%= f.label :username, "Username"  %>
  </div>
    <div class="input-field col s6">
      <%= f.select :role, User::ROLES[(0..2)] %>
      <%= f.label :role, "Role"  %>
    </div>
</div>
<% end %>
<% if current_user.nil? %>
  <div class="row no-margin-bot">
    <div class="input-field col s12">
      <%= f.input_field :username%>
      <%= f.label :username, "Username"  %>
    </div>
  </div>
<% end %>
<div class="row no-margin-bot">
  <div class="input-field col s12 m6">
    <%= f.input_field :password%>
    <%= f.label :password, "Password"  %>
  </div>
  <div class="input-field col s12 m6">
    <%= f.input_field :password_confirmation %>
    <%= f.label :password_confirmation, "Confirm Password"  %>
  </div>
</div>