<% content_for :title, "Baking List" %>
<% content_for :page_heading, "The Baking List" %>
<% content_for :page_info, "See what needs to be baked to fulfil customer orders." %>

<div class="section white z-depth-5">
  <div class="container">
    <%= render 'partials/flash' %>

    <% @baking_list.each do |list| %>
      <h5><%= list[:category] %> List</h5>
      <ul class="collection">
        <% if list[:list].nil? || list[:list].empty? %>
          <p>No <%= list[:category] %> to bake.</p>
        <% else %>
          <% list[:list].each do |key, value| %>
            <a href="#!" class="collection-item"><%= value %> of <%= key %></a>
          <% end %>
        <% end %>
      </ul>
      <div class="divider"></div>
    <% end %>

  </div>
</div>