<% content_for :title, page_title %>
<% content_for :page_heading, page_heading %>
<% content_for :page_info, page_info %>

<div class="section white z-depth-5">
  <div class="container">
    <div id='2-col-wrapper' class="row">
      <div id="item-card-container" class="col s9" style="padding-right: 20px">
        <%= render 'item_cards', items_title: 'Our Menu' %>
      </div>
      <div class="col s3">
        <div id="home-side-bar">
          <% if logged_in? %>
            <a id="cart_trigger_btn" class=" modal-trigger waves-effect waves-light btn-large side-bar-btn" href="#cart_modal">
              <%= render 'cart_count' %></a><br />
          <% else %>
            <a class="waves-effect waves-light btn-large side-bar-btn" href="/login">Login</a><br />
            <a class="waves-effect waves-light btn-large side-bar-btn" href="/signup">Sign Up</a><br />
          <% end %>
          <div class="divider"></div>
          <div id="item-filters-section" class="section">
            <h5>Find By Category</h5>
            <div class="collection">
              <% ([['All', 'all']] + Item::CATEGORIES).each do |category| %>
                <%= link_to category[0], filter_items_path(filter: category[1]),
                                remote: true, method: :post, class: "collection-item #{'active' if category[1] == 'all'}",
                                id: "#{category[1]}_filter_id"%>
              <% end %>
            </div>
          </div>
          <div class="section">
            <h5>Find By Price</h5>
            <div class="collection">
              <%= link_to 'Simple $6 Menu', filter_items_path(filter: 'filter_under_six'),
                          remote: true, method: :post, class: 'collection-item',
                          id: "filter_under_six_filter_id" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cart_modal" class="modal modal-fixed-footer">
  <%= render 'cart' %>
</div>