<div class="row">
	<div class="small-4 columns">
		<%= image_tag 'battlestar-galactica-logo-vector.png' %>
	</div>
	<div class="small-8 columns">
		<h2>404 Error - Security Alert</h2>

    <h5>Apparently you are trying to access a page which does not exist in our system.  This might be a result of direct URL manipulation, which <%= link_to "Admiral Amada", "http://en.battlestarwiki.org/wiki/William_Adama" %> views as a potential security threat.  Are you a <%= link_to "Cylon", "http://en.battlestarwiki.org/wiki/Cylons_(RDM)" %>? If so, please press the button below and a <%= link_to "Marine unit", "http://en.battlestarwiki.org/wiki/Marines" %> will arrive shortly to escort you out the airlock.  If you are not a Cylon, be aware that we view your actions as inappropriate and the Marines will throw you in the <%= link_to "brig", "http://en.battlestarwiki.org/wiki/Brig" %> if you persist in doing this.</h5><br />
    <h5>So say we all.</h5>
    
    <p>&nbsp;</p>
    <%= link_to(image_tag('cylon_icon.png'), cylon_path) %> 
    <%= link_to "Yes, I am a Cylon", cylon_path, :class => 'btn btn-danger' %>
    
	</div>
</div>

